/ListaIntroducao/build/
/ListaIntroducao/nbproject/private/
/SistemaBanco/nbproject/private/
/SistemaBanco/build/
/Despertador/nbproject/private/
/Despertador/build/
/Loja/nbproject/private/
/Loja/build/
/Lista1/nbproject/private/
/Lista1/build/
/Pratica2/nbproject/private/
/Pratica2/build/
/MeiosDeTransporte/nbproject/private/
/MeiosDeTransporte/build/
/ExProvaPratica/nbproject/private/
/ExProvaPratica/build/
/Jogo/nbproject/private/
/SobrevivenciaJurassica/nbproject/private/
/SobrevivenciaJurassica/build/
/SobrevivenciaJurassica/dist/
/EstudosProva2/nbproject/private/
/EstudosProva2/build/
/ProgramReservation/nbproject/private/
/ProgramReservation/build/
/SitemaBancario/nbproject/private/
/SitemaBancario/build/
/Colecoes/nbproject/private/
/Colecoes/build/
/JogoDeTabuleiro/nbproject/private/
/JogoDeTabuleiro/build/
/JogoDaVelha/nbproject/private/
/JogoDaVelha/build/
